#main {
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("main.jpg");
}

a {
  text-decoration: none;
}

.content {
  min-height: 60vh;
  color: white;
  line-height: 1.2;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
}

#logo {
  color: #e85425;
}

nav {
  background-color: #18444c;
}

nav ul li {
  border-bottom: none !important;
}
nav ul li a {
  padding: 0.3rem !important;
  margin: 0.5rem !important;
  color: white !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
nav ul {
  border-bottom: none !important;
}

/* svg */
svg {
  width: 50px;
}

/* Footer */
#footer {
  background-color: #18444c;
}
